/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }

/* ==========================================================================
  Author's custom styles
  ========================================================================== */


/* DEFAULT STYLINGS MOBILE */

/* GENERAL STYLINGS */

html {
    font-size: 1em;
    display: flex;
    scroll-behavior: smooth;
    justify-content: center;
    line-height: 1.4;
}

body {
    background-color: black;
    color: white;
    font-family: 'Open sans', 'sans-serif';
    font-size: 16px;
    margin: 30px;
    width: auto;
    max-width: 1400px;
/* Starry backgound found here: https://stackoverflow.com/questions/33948011/creating-a-starry-background-in-css*/
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

h1 {
    font-family: 'Kanit', 'sans serif';
    font-size: 2em;
    font-weight: 700;
}

h2 {
    font-family: 'Kanit', 'sans serif';
    font-size: 1.5em;
    font-weight: 500;
    border-bottom: 2px solid #7FBD47;
    padding-bottom: 15px;
}

a {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}

/* HEADER STYLING */

header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0 60px 0;
}

header h1{
    text-align: center;
}

#earth-img {
    max-width: 200px;
    max-width: 200px;
    filter: drop-shadow(#40c0ed 0 0 10px);
}

/* SECTION STYLING */

section {
    margin: 60px 0 60px 0;
}

article {
    /* border: solid 2px #33cc33; */
    margin: 110px 0 105px 0;
}

article ul {
    list-style: none;
}
/* Emojis from emojipedia.org */
ul li:nth-child(1)::marker { content: "♻️"; }
ul li:nth-child(2)::marker { content: "🗑️"; }
ul li:nth-child(3)::marker { content: "💧"; }
ul li:nth-child(4)::marker { content: "🌱"; }
ul li:nth-child(5)::marker { content: "🧑‍🏫"; }

article ul li {
    padding-left: 10px;
}

.action-call p {
    margin-bottom: 40px;
}

.action-call a {
    border: solid 1px white;
    border-radius: 5px;
    margin-top: 15px;
    padding: 10px 25px;
}

.action-call a:hover{
    background: -webkit-linear-gradient( #7FBD47, #40c0ed);
    font-weight: 700;
}

/* TESTIMONIAL AND EVENTS DIVS STYLING */

.testimonial {
    margin: 110px 0 105px 0;
}

.testimonial p {
    font-style: italic;
    margin: 35px 10px;;
}

.events {
    margin: 120px 0 120px 0;
}

.events a {
    color: #40c0ed;
}

.events a:hover{
   text-decoration: underline;
   text-decoration-color: #7FBD47;
   font-weight: 700;
}

/* FOOTER STYLING */

footer {
    border-top: 1px solid #40c0ed;;
    margin: 10px;
    text-align: center;
}

/* TABLET STYLING */
@media only screen and (min-width: 768px) {

}

/* DESKTOP STYLING */
@media only screen and (min-width: 1200px) {

}